{% load static %}
{% load crispy_forms_tags %}
<style>
    form {
        display: flex;
    }
    form > div {
        width: 400px;
    }
</style>
<script type="module">
    // Import from our bundled file
    import {
      Y,
      WebsocketProvider,
    } from '{% static "demo/editor-bundle.mjs" %}';

    // Now use the imported modules
    const ydoc = new Y.Doc();
    const model = 'demo.QuillPost'
    const id = {{ object.id|default:"null" }};
    const room = `${model}__${id}`; 
    const wsProvider = new WebsocketProvider(
      "ws://localhost:8000/ws",
      room,
      ydoc,
    );
    wsProvider.awareness.setLocalStateField('user', {
        name: 'TODO add username from django',
        // color: 'blue', // You can set a color for the cursor
    });

    wsProvider.on("status", (event) => {
        document.getElementById("connection-status").innerText = event.status;
    });

    window.quillRoomDocs = window.quillRoomDocs || {};
    window.quillRoomDocs[room] = {
        ydoc,
        wsProvider,
    };
    window.quillRoomQueue = window.quillRoomQueue || [];
    while (window.quillRoomQueue.length) {
        const task = window.quillRoomQueue.shift();
        task();
    }
</script>
<div>
    <div id="connection-status"></div>
    {% crispy form %}
</div>
